@import url('https://fonts.googleapis.com/css?family=Montserrat+Alternates:300,400,500,600,700,800,900&display=swap');

* {
  margin: 0;
  outline: none;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  background: url(../img/background.png) no-repeat center fixed;
  background-size: cover;
  font-family: 'Montserrat Alternates', sans-serif;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 50px 90px;
  align-items: center;
}

header ul {
  display: flex;
  list-style: none;
}

header ul li {
  margin-left: 70px;
}

header ul li a {
  color: #fff;
  cursor: pointer;
  font-size: 20px;
  font-weight: 500;
  transition: color 0.2s;
}

header ul li a:hover {
  color: #6a64fc;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 40px;
  height: 100%;
}

main img {
  width: 500px;
  margin-bottom: 30px;
}

main h1 {
  color: #fff;
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 16px;
}

main p {
  color: #fff;
  font-size: 18px;
  font-weight: normal;
  margin-bottom: 50px;
}

main button {
  width: 200px;
  height: 60px;
  border: none;
  cursor: pointer;
  border-radius: 20px;
  background-color: #6a64fc;
  transition: background-color 0.2s;
}

main button:hover {
  background-color: #fff;
}

main button a {
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  transition: color 0.2s;
}

main button:hover a {
  color: #6a64fc;
}

@media only screen and (max-width: 1300px) {
  header ul li a {
    font-size: 18px;
  }

  main img {
    width: 400px;
  }

  main h1 {
    font-size: 32px;
  }

  main p {
    font-size: 14px;
  }

  main button {
    width: 180px;
    height: 60px;
  }

  main button a {
    font-size: 14px;
  }
}

@media only screen and (max-width: 700px) {
  header {
    flex-direction: column;
  }

  header img {
    margin-bottom: 40px;
  }

  header ul {
    width: 100%;
    align-items: center;
    flex-direction: column;
  }

  header ul li {
    width: 100%;
    padding: 10px;
    display: flex;
    cursor: pointer;
    border-radius: 3px;
    background: #fff;
    margin-left: 0;
    margin-bottom: 10px;
    justify-content: center;
  }

  header ul li a {
    color: #6a64fc;
  }
}
